<template>
  <div class="">
    <div class="container centerFlex my-5" v-if="loading">
      <spinner/>
    </div>
    <div v-if="!loading" class="container my-4 pb-5">
    <!-- <PButton class="Success my-5 mx-auto d-block" v-on:click="getData" >GetData</PButton> -->
    <!-- <b style="text-align: center;display:block">If you require to ship your orders through a different provider you must uninstall the app to stop orders from being synced with the Drop Off Delivery company </b> -->

    <PButton class="Success my-3 ml-auto d-block Polaris-Button--primary form_btn" v-on:click="addForm" icon="CirclePlusMajor">Add Form</PButton>
      <div class="Polaris-Card p-4" v-for="(form,i) in data" :key="i" >

        <div class="mx-2">
          <PIcon slot="prefix" style="float: right" source="DeleteMajor" color="subdued" v-on:click="confirmationModal(i)"/>
          
          <label class="Polaris-Label__Text"><h1> Pickup Data</h1></label>
        </div>

        <div class="Polaris-Card__Section Polaris-FormLayout ">

          <PFormLayoutGroup >
            <PTextField label="Pickup Name"  v-model="form.pickupName" type="text"  :error="errors['data.'+i+'.pickupName'] ? errors['data.'+i+'.pickupName'][0] : '' "/>
            <PTextField label="Pickup Email" v-model="form.pickupEmail" type="email"  :error="errors['data.'+i+'.pickupEmail'] ? errors['data.'+i+'.pickupEmail'][0] : '' "><PIcon slot="prefix" source="EmailMajor" /></PTextField>
            <PTextField label="Pickup Phone" v-model="form.pickupPhone" type="text"   :error="errors['data.'+i+'.pickupPhone'] ? errors['data.'+i+'.pickupPhone'][0] : '' "/>
          </PFormLayoutGroup>

          <!-- <PFormLayoutGroup >
            <div>
              <label class="Polaris-Label__Text ">Pickup datetime</label>
            </div>
            <div>
              <date-picker  :min-date="new Date()" color="green" v-model="form.pickupDate" :value="form.pickupDate" mode="dateTime" is24hr>
                <template v-slot="{ inputValue, inputEvents }">
                  <input
                    class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 Polaris-TextField__Input input-border"
                    :value="inputValue"
                    v-on="inputEvents"
                    :class="errors['data.'+i+'.pickupDate'] ? 'error-border' : '' "
                  />
                </template>
              </date-picker>
              <error-component :errorText="errors['data.'+i+'.pickupDate'] ? errors['data.'+i+'.pickupDate'][0] : '' " v-if="errors['data.'+i+'.pickupDate']"/>
            </div>
            
            <div>
              <label class="Polaris-Label__Text">Job Delivery Datetime</label>
            </div>
            <div>
              <date-picker  color="green" :min-date="new Date()" v-model="form.jobDeliveryDatetime" :value="form.jobDeliveryDatetime"  mode="dateTime" is24hr>
                <template v-slot="{ inputValue , inputEvents }">
                  <input
                    class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 Polaris-TextField__Input input-border"
                    :value="inputValue"
                    v-on="inputEvents"
                    :class="errors['data.'+i+'.pickupDate'] ? 'error-border' : '' "
                  />
                </template>
              </date-picker>
              <error-component :errorText="errors['data.'+i+'.jobDeliveryDatetime'] ? errors['data.'+i+'.jobDeliveryDatetime'][0] : '' " v-if="errors['data.'+i+'.jobDeliveryDatetime']"/>
            </div>
              
          </PFormLayoutGroup> -->

          <PFormLayoutGroup >
            <PTextField class="" v-model="form.pickupAddress" label="Pickup Address" type="text"  :error="errors['data.'+i+'.pickupAddress'] ? errors['data.'+i+'.pickupAddress'][0] : '' "/>
          </PFormLayoutGroup>
          <PFormLayoutGroup >
            <PTextField class="" v-model="form.jobDescription" label="Job Description" type="text"  :error="errors['data.'+i+'.jobDescription'] ? errors['data.'+i+'.jobDescription'][0] : '' "/>
          </PFormLayoutGroup>

          <PFormLayoutGroup >
            <!-- <PTextField label="Pickup Latitude" v-model="form.pickupLatitude" type="text"  :error="errors['data.'+i+'.pickupLatitude'] ? errors['data.'+i+'.pickupLatitude'][0] : '' "/>
            <PTextField label="Pickup Longtitude" v-model="form.pickupLongtitude" type="text"  :error="errors['data.'+i+'.pickupLongtitude'] ? errors['data.'+i+'.pickupLongtitude'][0] : '' "/> -->
            <PTextField label="Pickup Custome Field Template" v-model="form.pickupCustomeFieldTemplate" type="text"  :error="errors['data.'+i+'.pickupCustomeFieldTemplate'] ? errors['data.'+i+'.pickupCustomeFieldTemplate'][0] : '' "/>
          </PFormLayoutGroup>

        </div>
      </div>
      <!-- <PButton class="Success my-5 mx-auto d-block mb-4" v-on:click="submit" >Submit</PButton> -->
    </div>
    
  </div>

</template>

<script>

import DatePicker from 'v-calendar/lib/components/date-picker.umd'
import instance from '../../../axios.js'
import Spinner from './modals/Spinner.vue';
import ErrorComponent from './modals/ErrorComponent.vue'
import helper from '../../../helper.js'

export default {
  data() {
    return {
      data: [
        {
          pickupName: "",
          pickupEmail: "",
          pickupPhone: "",
          // pickupDate: "",
          // jobDeliveryDatetime: "",
          pickupAddress: "",
          jobDescription: "",
          // pickupLatitude: "",
          // pickupLongtitude: "",
          pickupCustomeFieldTemplate: "",
        },
      ],
      errors : [],
      save : '',
      spareData: [],
      loading : false
    };
  },
  methods: {
    addForm() {
      this.data.push({
          pickupName: "",
          pickupEmail: "",
          pickupPhone: "",
          // pickupDate: "",
          // jobDeliveryDatetime: "",
          pickupAddress: "",
          jobDescription: "",
          // pickupLatitude: "",
          // pickupLongtitude: "",
          pickupCustomeFieldTemplate: "",
      },);
    }, 
    deleteForm(i) {
      this.data.splice(i, 1);
    },
    async submit(){
      this.loading = true;
      let base = this;
      base.errors = [];
      // this.data.forEach((e,i)=>{
      //   if(e.pickupDate != null && e.jobDeliveryDatetime != null){
      //     e.pickupDate = e.pickupDate.toString();
      //     e.jobDeliveryDatetime = e.jobDeliveryDatetime.toString();
      //   }
      // })
      await instance({
          method: "POST",
          url: '/api/add-pickup-data',
          data: {
            data : base.data
          }
      }).then(response => {
          console.log(response);
          helper.hideSavebar(base);
          helper.showToast(response['data'].message)
          helper.clearConsole();
      }).catch(e => {
        let errors = e.response['data']['errors'];
        base.errors = errors; 
      }).finally(e => {
        base.loading = false; 
      })
    },
    async getData(){
      let base = this;
      base.errors = [];
      this.loading = true;
      await instance({
          method: "GET",
          url: '/api/get-pickup-data'
        }).then(response => {
            if(response['data'].data == null){
              this.loading = false;
            }else{
              console.log(response);
              let responce = response['data']['data']['pickup_info'];
              // responce.forEach(element => {
              //   element.pickupDate = new Date(element.pickupDate);
              //   element.jobDeliveryDatetime = new Date(element.jobDeliveryDatetime);
              // });
              
              if(response['data']['data']['pickup_info'].length == 0){
                base.addForm();
              }
              this.data = responce;
              this.spareData = JSON.parse(JSON.stringify(this.data))
              helper.hideSavebar(base);
              this.loading = false;
            }
            helper.clearConsole();
        }).catch(e => {
          console.log(e);
      });
    },
    confirmationModal(i){
      helper.confirmationModal(i,this);
    },
  },
  components : {
    DatePicker,
    Spinner,
    ErrorComponent
  },
  mounted(){
    this.getData();
    helper.saveBar(this);
    helper.clearConsole();
  },
  watch: {
    data: {
      handler: function (val, oldVal) {
        helper.showSavebar(this);
      },
      deep: true
    }
  }

};
</script>