<template>
  <div>
    <div class="container my-5">

      <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
          <h2 class="Polaris-Heading">FAQs.</h2>
        </div>

        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3
              aria-label="Reports"
              class="Polaris-Subheading"
            >Question: How can a merchant pay the delivery fees and other service fees?</h3>
          </div>
          <p>Answer: Merchants can pay the delivery fees offline after issuing the invoices through the following payment methods: cheques/bank transfers/payment links upon request</p>
        </div>

        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3
              aria-label="Summary"
              class="Polaris-Subheading"
            >Question: Do you offer COD for merchants? </h3>
          </div>
          <p>Answer: Yes, we offer COD service and amounts can be delivered to merchants via cash/ bank deposit / wire transfers depending on the merchant preference.</p>
        </div>

        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3
              aria-label="Summary"
              class="Polaris-Subheading"
            >Question: How can a merchant ship through a different provider ?</h3>
          </div>
          <p>Answer: If you require to ship your orders through a different provider you must uninstall the app to stop orders from being synced with the Drop Off Delivery company</p>
        </div>

      </div>
      <div id="PolarisPortalsContainer"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>